{% for user in usersList %}
    {# Add bold plus or minus to voted  button #}
    {% set plusClass = 'btn-default' %}
    {% set minusClass = 'btn-default' %}

    {% if user.isGoodVote is not null and user.isGoodVote %}
        {% set plusClass = 'btn-primary' %}
    {% elseif user.isGoodVote is not null and not user.isGoodVote %}
        {% set minusClass = 'btn-primary' %}
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-user" aria-hidden="true"></i>
                <a href="/user/{{ user.id }}">{{ user.nickname }}</a>
            </h3>
        </div>
        <div class="list-people panel-body">
            <div class="item pull-left">
                <a href="/user/{{ user.id }}">
                    {% if user.image %}
                        <img src={{ user.image|imagine_filter('main_list') }} class="img-thumbnail">
                    {% else %}
                        <img src={{ "public/assets/images/default_avatar.png"|imagine_filter('main_list') }}  class="img-thumbnail">
                    {% endif %}
                </a>
            </div>
            <div class="item js-karma">
                <h2><img src={{ "public/assets/images/in_yan.png"|imagine_filter('karma') }} alt="">  {{ user.karma }}</h2>
            </div>
            <div class="item pull-right">
                <div class="btn-group-vertical" data-id="{{ user.id }}" role="group">
                    <button type="button"
                            class="btn {{ plusClass }} vote-up {% if user.isGoodVote or user.id == authUserId %}disabled{% endif %}"
                            data-toggle="tooltip" data-placement="right" title="Increase karma"
                            {% if user.isGoodVote or user.id == authUserId %}disabled="disabled"{% endif %}
                    >
                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                    </button>
                    <button type="button"
                            class="btn {{ minusClass }} vote-down {% if not user.isGoodVote or user.id == authUserId %}disabled{% endif %}"
                            data-toggle="tooltip" data-placement="right" title="Decrease karma"
                            {% if not user.isGoodVote or user.id == authUserId %}disabled="disabled"{% endif %}
                    >
                        <i class="fa fa-minus-square" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
