{% for user in usersList %}
    {# Add bold plus or minus to voted  button #}
    {% set plusClass = 'fa fa-plus-square-o' %}
    {% set minusClass = 'fa fa-minus-square-o' %}
    {% if user.isGoodVote is not null and user.isGoodVote %}
        {% set plusClass = 'fa fa-plus-square' %}
    {% elseif user.isGoodVote is not null and not user.isGoodVote %}
        {% set minusClass = 'fa fa-minus-square' %}
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-user" aria-hidden="true"></i>
                <a href="/lk/{{ user.id }}">{{ user.nickname }}</a>
            </h3>
        </div>
        <div class="list-people panel-body">
            <div class="item pull-left">
                {% if user.image %}
                    <img src={{ user.image|imagine_filter('main_list') }} class="img-thumbnail">
                {% else %}
                    <img src={{ "public/assets/images/default_avatar.png"|imagine_filter('main_list') }}  class="img-thumbnail">
                {% endif %}
            </div>
            <div class="item karma">
                <h2>{{ user.karma }}</h2>
            </div>
            <div class="item pull-right">
                <div class="btn-group-vertical vote-action" data-id="{{ user.id }}" role="group">
                    <button type="button"
                            class="btn btn-default vote-up {% if user.isVoted or user.id == authUserId %}disabled{% endif %}"
                            data-toggle="tooltip" data-placement="right" title="Increase karma"
                            {% if user.isVoted or user.id == authUserId %}disabled="disabled"{% endif %}
                    >
                        <i class="{{ plusClass }}" aria-hidden="true"></i>
                    </button>
                    <button type="button"
                            class="btn btn-default vote-down {% if user.isVoted or user.id == authUserId %}disabled{% endif %}"
                            data-toggle="tooltip" data-placement="right" title="Decrease karma"
                            {% if user.isVoted or user.id == authUserId %}disabled="disabled"{% endif %}
                    >
                        <i class="{{ minusClass }}" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endfor %}